<h1>Edit grabber</h1>
<form role="form">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="grabber.name">
    </div>
    <div class="form-group">
        <label for="feed">Feed:</label>
        <input type="url" class="form-control" id="feed" ng-model="grabber.feed">
        <a class="btn btn-primary btn-sm btn-outline btn-rounded" ng-click="clickToOpen()">Preview</a>
    </div>
    <div class="form-group">
        <label for="interval">Interval:</label>
        <uib-timepicker id="interval" ng-model="interval" ng-init="interval = Date" ng-change="changed()" hour-step="1" minute-step="1" show-seconds="true", show-meridian="false"></uib-timepicker>
    </div>
    <a class="btn btn-primary btn-sm btn-outline btn-rounded" ng-click="save(grabber)">Save</a>
</form>
