<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <h2>Grabber
        <small>Manage grabbers</small>
    </h2>
    <div class="jumbotron">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Feed</th>
                    <th>Interval</th>
                    <th>Control</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="grabber in grabbers track by $index">
                    <td ng-click="openEditDialog($index)">{{grabber.name}}</td>
                    <td>{{grabber.feed}}</td>
                    <td>{{grabber.interval | duration}}</td>
                    <td>
                        <span ng-class="{'glyphicon glyphicon-play': grabber.status == 'suspended',
                        'glyphicon glyphicon-time': grabber.status == 'scheduled',
                        'glyphicon glyphicon-cog': grabber.status == 'running'}"
                              ng-click="start($index)">
                        </span>

                        <span ng-class="{'glyphicon glyphicon-stop': grabber.status == 'scheduled' || grabber.status == 'running',
                        'glyphicon glyphicon-stop text-danger': grabber.status == 'suspended'}"
                              ng-click="stop($index)">
                        </span>

                        <span class="glyphicon glyphicon-trash" ng-click="delete($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="clickToOpen()">New</a>
            <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="getAll()">Refresh</a>
            <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="startAll()">Start All</a>
            <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="stopAll()">Stop All</a>
            <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="showGrb()">Print</a>
        </div>
    </div>
</div>
