<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline">Back to Overview</a>
    <h2>Grabber
        <small>Manage grabbers</small>
    </h2>
    <div class="jumbotron">
        <div class="container">
            <div class="form-group">
                <a class="btn btn-primary btn-lg btn-outline glyphicon glyphicon-plus" ng-click="clickToOpen()"></a>
                <a class="btn btn-primary btn-lg btn-outline glyphicon glyphicon-refresh" ng-click="getAll()"></a>
                <a class="btn btn-primary btn-lg btn-outline glyphicon glyphicon-play" ng-click="startAll()"></a>
                <a class="btn btn-primary btn-lg btn-outline glyphicon glyphicon-stop" ng-click="stopAll()"></a>
                <a class="btn btn-primary btn-lg btn-outline glyphicon glyphicon-print" ng-click="showGrb()"></a>
            </div>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for a grabber" ng-model="searchTerm">
                    </div>
                </div>
            </form>



            <table class="table table-striped">
                <thead>
                <tr>
                    <th><a ng-click="sortType = 'name'; sortReverse = !sortReverse">Name</a></th>
                    <th><a ng-click="sortType = 'feed'; sortReverse = !sortReverse">Feed</a></th>
                    <th><a ng-click="sortType = 'interval'; sortReverse = !sortReverse">Interval</a></th>
                    <th>Controls</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="grabber in grabbers | orderBy:sortType:sortReverse | filter:searchTerm | itemsPerPage:10 track by $index">
                    <td ng-click="openEditDialog($index)">{{ grabber.name }}</td>
                    <td>{{ grabber.feed }}</td>
                    <td>{{ grabber.interval | duration }}</td>
                    <td>
                        <span ng-class="{'glyphicon glyphicon-play': grabber.status == 'suspended',
                        'glyphicon glyphicon-time': grabber.status == 'scheduled',
                        'glyphicon glyphicon-cog': grabber.status == 'running'}"
                              ng-click="start($index)">
                        </span>

                        <span ng-class="{'glyphicon glyphicon-stop': grabber.status == 'scheduled' || grabber.status == 'running',
                        'glyphicon glyphicon-stop text-danger': grabber.status == 'suspended'}"
                              ng-click="stop($index)">
                        </span>

                        <span class="glyphicon glyphicon-trash" ng-click="delete($index)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center"><dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls></div>
        </div>
    </div>
</div>
